/*//--------------------------------////
////                                ////
////   Все стили документа D10009   ////
////                                ////
////--------------------------------////
////                  ////
////    Оглавление    ////
////                  ////
////------------------////

  1. Стили классической игры


////------------------------------////
////             ////
////    Стили    ////
////             ////
////-------------//*/

//----------------------------//
// 1. Стили классической игры //
/*------------------------------------//
Оглавление

  1.1. Переменные стилей классической игры
  1.2. Общие стили классической игры
  1.3. Стили шапки классической игры
  1.4. Стили интерфейса выбора комнаты в шапке игры
  1.5. Номер игры и банк
  1.6. Счётчики предметов и времени текущего раунда
  1.7. Органы управления игрой для игрока

//------------------------------------*/

  //------------------------------------------//
  // 1.1. Переменные стилей классической игры //
  //------------------------------------------//

    // 1] Переменные цветов

      // Общие
      $cg_main_color: #212f35;            // Главный цвет классической игры
      $cg_colog_highlight: #F59C1A;       // Цвет для выделения всяких вещей

      // Шапка
      $cg_color_header_bg: #182328;       // Цвет фона шапки классической игры
      $cg_color_roombrd: #269a95;         // Цвет рамки интерфейса выбора комнаты
      $cg_color_choosencolor: #269a95;    // Цвет выбранного пункта меню

      // Номер игры и банк



    // 2] Переменные размеров

      // Общие
      //$cg_sizes_:

      // Шапка
      $cg_color_header_height: 50px;      // Высота шапки классической игры

      // Органы управления игрой для игрока
      $cg_sizes_controls_height: 120px;   // Высота панели органов управления


  //------------------------------------//
  // 1.2. Общие стили классической игры //
  //------------------------------------//

    // Внешний контейнер классической игры
    .content .classic-game {}

    // Внутренний контейнер классической игры
    .content .classic-game .cg-container {
      margin-top: 15px;
      border-radius: 6px;
      background: $cg_main_color;
    }

  //------------------------------------//
  // 1.3. Стили шапки классической игры //
  //------------------------------------//

    // Общие стили шапки классической игры
    .content .classic-game .cg-container .header {
      position: relative;
      background: darken($cg_main_color, 5%);
      height: $cg_color_header_height;
    }

    // Логотип классической игры, и её заголовок
    .content .classic-game .cg-container .header .logo_and_name {
      position: absolute; left: 0; top: 0;
      height: $cg_color_header_height;
      line-height: $cg_color_header_height;
      width: 33.333333333%;
      text-align: left;
      color: #fff;
      cursor: pointer;
      background: darken($cg_main_color, 5%);
      transition: all .5s ease;
    }
    .content .classic-game .cg-container .header .logo_and_name:hover {
      color: lighten($cg_color_choosencolor, 30%);
    }
    .content .classic-game .cg-container .header .logo_and_name.choosen {
      color: $cg_color_choosencolor;
    }
    .content .classic-game .cg-container .header .logo_and_name i {
      font-size: 2.5em;
      vertical-align: middle;
      padding: 0 10px;
    }
    .content .classic-game .cg-container .header .logo_and_name span {
      font-size: 1.5em;
      vertical-align: middle;
    }

    // Кнопка "История"
    .content .classic-game .cg-container .header .history-button {
      position: absolute; right: 0; top: 0;
      height: $cg_color_header_height;
      //width: 33.333333333%;
      border-left: 1px solid $cg_main_color;
      line-height: $cg_color_header_height;
      font-size: 1.5em;
      padding: 0 $cg_color_header_height/3;
      text-align: right;
      cursor: pointer;
      color: #fff;
      background: darken($cg_main_color, 5%);
      transition: all .2s ease;
    }
    .content .classic-game .cg-container .header .history-button:hover {
      color: lighten($cg_color_choosencolor, 30%);
    }
    .content .classic-game .cg-container .header .history-button.choosen {
      color: $cg_color_choosencolor;
    }

  //---------------------------------------------------//
  // 1.4. Стили интерфейса выбора комнаты в шапке игры //
  //---------------------------------------------------//

    // Общие стили
    .content .classic-game .cg-container .header .choose-room {
      position: absolute; top: 0;
      left: 0; right: 0;
      margin-left: auto; margin-right: auto;
      width: 33.333333333%;
      overflow: hidden;
      margin-top: $cg_color_header_height*0.15;
      margin-bottom: $cg_color_header_height*0.15;
      line-height: $cg_color_header_height*0.7;
      text-align: center;
      border: 1px solid #f6e52d;
      border-radius: 4px;
      color: #fff;
      font-size: 1.5em;
      vertical-align: middle;
      cursor: pointer;
      background: $cg_color_header_bg;
      -o-transition-delay: 0.2s;
      -webkit-transition-delay: 0.2s;
      -moz-transition-delay: 0.2s;
      transition-delay: 0.2s;
      user-select: none;
      transition: all .2s ease-in-out;
    }
    .content .classic-game .cg-container .header .choose-room:hover {
      background: darken($cg_main_color, 10%);
    }

    // Название выбранной комнаты
    .content .classic-game .cg-container .header .choose-room .choosen-name {
      height: $cg_color_header_height*0.7;
    }
    .content .classic-game .cg-container .header .choose-room i {
      position: absolute; top: 0; right: 0;
      width: $cg_color_header_height; height: $cg_color_header_height;
      height: $cg_color_header_height*0.7;
      line-height: $cg_color_header_height*0.7;
      text-align: center;
      display: inline-block;
      color: #aaa;
      transform: rotate(180deg);
      transition: all .2s ease-in-out;
    }
    .content .classic-game .cg-container .header .choose-room:hover i {
      transform: rotate(0deg);
    }

    // Список доступных комнат
    .content .classic-game .cg-container .header .choose-room .rooms-list {
      max-height: 0;
      transition: all .3s ease-in-out;
      text-align: left;
      font-size: .7em;
    }
    .content .classic-game .cg-container .header .choose-room:hover .rooms-list {
      max-height: 300px;
      //padding-bottom: 5px;
    }
    .content .classic-game .cg-container .header .choose-room .rooms-list .room {
      position: relative;
      height: $cg_color_header_height;
      text-align: left;
      padding: 8px;
      padding-left: 15px;
      padding-right: 15px;
    }
    .content .classic-game .cg-container .header .choose-room .rooms-list .room:hover {
      background: darken($cg_main_color, 5%);
    }
    .content .classic-game .cg-container .header .choose-room .rooms-list .room .title {
      height: 20px;
      line-height: 20px;
      font-size: 1.4em;
      color: #F59C1A;
    }
    .content .classic-game .cg-container .header .choose-room .rooms-list .room .description {
      height: 14px;
      line-height: 14px;
      font-size: 0.9em;
    }


  //------------------------//
  // 1.5. Номер игры и банк //
  //------------------------//

    // Общие стили
    .content .classic-game .cg-container .gamenum_and_bank {
      height: 80px;
      line-height: 80px;
      list-style: 80px;
      text-align: center;
      font-size: 2.1em;
    }

    // Стили номера игры
    .content .classic-game .cg-container .gamenum_and_bank .gamenum {
      display: inline-block;
      padding-right: 15px;
    }
    .content .classic-game .cg-container .gamenum_and_bank .gamenum span:nth-child(1) {}
    .content .classic-game .cg-container .gamenum_and_bank .gamenum span:nth-child(2) {
      color: $cg_colog_highlight;
    }

    // Стили банка
    .content .classic-game .cg-container .gamenum_and_bank .bank {
      display: inline-block;
      padding-left: 15px;
    }
    .content .classic-game .cg-container .gamenum_and_bank .bank span:nth-child(1) {}
    .content .classic-game .cg-container .gamenum_and_bank .bank span:nth-child(2) {
      color: $cg_colog_highlight;
    }
    .content .classic-game .cg-container .gamenum_and_bank .bank span:nth-child(3) {
      font-size: 0.7em;
    }


  //---------------------------------------------------//
  // 1.6. Счётчики предметов и времени текущего раунда //
  //---------------------------------------------------//

    // Общие стили
    .content .classic-game .cg-container .counters {
      height: 120px;
      border-top: 2px solid lighten($cg_main_color, 5%);
      overflow: hidden;
      white-space: nowrap;
    }
    .content .classic-game .cg-container .counters>div {
      display: inline-block;
      vertical-align: middle;
      height: 50px;
      margin: 35px 50px;
    }

    // Счётчик вещей раунда
    .content .classic-game .cg-container .counters .counter-items {
      position: relative;
      background: darken($cg_main_color, 5%);
      margin-right: 10px;
      border-radius: 4px;
      width: 470px;
    }
    .content .classic-game .cg-container .counters .counter-items .indicator {
      position: relative;
      width: 25%;
      height: 42px;
      margin: 4px;
      border-radius: 4px;
      transition: all .5s ease;

      background: rgb(217,89,32); /* Old browsers */
      background: -moz-linear-gradient(left,  rgba(217,89,32,1) 0%, rgba(245,156,26,1) 50%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left,  rgba(217,89,32,1) 0%,rgba(245,156,26,1) 50%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right,  rgba(217,89,32,1) 0%,rgba(245,156,26,1) 50%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d95920', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
    }
    .content .classic-game .cg-container .counters .counter-items .indicator .knifes {
      position: absolute; top: -20px; right: -50px;
      width: 100px;
      height: 85px;
    }
    .content .classic-game .cg-container .counters .counter-items .indicator .items-inbank-max {
      position: absolute; top: 4px; right: -50px;
      padding: 3px 8px;
      color: #ffd38f;
      font-size: 1.8em;
      height: 34px;
      line-height: 28px;
      border-radius: 4px;
      background-color: rgba(0,0,0,.6);
    }

    // Текст между счётчиками
    .content .classic-game .cg-container .counters .text-between-counters {
      width: 100px;
      line-height: 50px;
      margin-left: 0; margin-right: 0;
      font-size: 1.1em;
      text-align: center;
    }

    // Счётчик времени раунда
    .content .classic-game .cg-container .counters .counter-time {
      width: 180px;
      margin-left: 10px;
      line-height: 50px;
      color: $cg_colog_highlight;
    }
    .content .classic-game .cg-container .counters .counter-time>div {
      display: inline-block;
      height: 50px;
      line-height: 50px;
      text-align: center;
      vertical-align: middle;
      font-size: 2.5em;
      font-weight: bold;
    }
    .content .classic-game .cg-container .counters .counter-time>div:nth-child(1) {
      width: 70px;
      background: darken($cg_main_color, 5%);
      border-radius: 4px;
    }
    .content .classic-game .cg-container .counters .counter-time>div:nth-child(2) {
      width: 20px;
      line-height: 45px;
      padding-right: 1px;
    }
    .content .classic-game .cg-container .counters .counter-time>div:nth-child(3) {
      width: 70px;
      background: darken($cg_main_color, 5%);
      border-radius: 4px;
    }


  //-----------------------------------------//
  // 1.7. Органы управления игрой для игрока //
  //-----------------------------------------//

    // Общие стили
    .content .classic-game .cg-container .controls {
      height: $cg_sizes_controls_height;
      background: darken($cg_main_color, 5%);
      overflow: hidden;
      white-space: nowrap;
    }

    // Кол-во внесённых предметов, шанс, кнопка "Внести депозит"

      // Общие стили
      .content .classic-game .cg-container .controls .status_and_button {
        height: $cg_sizes_controls_height*.6;
      }
      .content .classic-game .cg-container .controls .status_and_button>div {
        display: inline-block;
        width: 33.33333%;
        height: $cg_sizes_controls_height*.6;
        line-height: $cg_sizes_controls_height*.6;
        vertical-align: middle;
      }

      // Количество внесённых предметов
      .content .classic-game .cg-container .controls .status_and_button .items_info {
        text-align: center;
        color: #81D1F9;
        font-size: 1.5em;
      }

      // Шанс
      .content .classic-game .cg-container .controls .status_and_button .chance {
        position: relative;
        text-align: center;
        font-size: 1.5em;
      }
      .content .classic-game .cg-container .controls .status_and_button .chance .arrows-left {
        position: absolute;
        top: $cg_sizes_controls_height*.3 - 10px;
        left: 0;
        display: inline-block;
        width: 24px;
        height: 24px;
        background-image: url('/public/D10009/assets/icons/sprites.png');
        background-repeat: no-repeat;
        background-position: -93px -15px;
      }
      .content .classic-game .cg-container .controls .status_and_button .chance .arrows-right {
        position: absolute;
        top: $cg_sizes_controls_height*.3 - 10px;
        right: 0;
        display: inline-block;
        width: 24px;
        height: 24px;
        background-image: url('/public/D10009/assets/icons/sprites.png');
        background-repeat: no-repeat;
        background-position: -93px -15px;
      }

      // Кнопка "Внести депозит"
      .content .classic-game .cg-container .controls .status_and_button .make-a-bet {
        text-align: center;
        height: $cg_sizes_controls_height*.6;
        line-height: $cg_sizes_controls_height*.6;
      }
      .content .classic-game .cg-container .controls .status_and_button .make-a-bet .button {
        display: inline-block;
        height: $cg_sizes_controls_height*.3;
        line-height: $cg_sizes_controls_height*.3;
        vertical-align: middle;
        padding: 0 29px;
        font-size: 1.5em;
        background: #795349;
        color: #fff;
        border: 1px solid #E3764D;
        cursor: pointer;
        transition: all .5s ease;
      }
      .content .classic-game .cg-container .controls .status_and_button .make-a-bet .button:hover {
        background: rgba(252, 131, 86, 0.5)
      }
      .content .classic-game .cg-container .controls .status_and_button .make-a-bet .button span {
        vertical-align: baseline;
      }

    // Панель с информацией о лимитах выбранной комнаты
    .content .classic-game .cg-container .controls .info {
      height: $cg_sizes_controls_height*.4;
    }
    .content .classic-game .cg-container .controls .info .limits {
      height: $cg_sizes_controls_height*.2;
      line-height: $cg_sizes_controls_height*.2;
      margin: $cg_sizes_controls_height*.05 40px;
      font-size: 1.1em;
      text-align: center;
      background-color: #573c46;
      border: 1px solid #734857;
      color: #fad8f1;
    }



