/*//--------------------------------////
////                                ////
////   Все стили документа D10009   ////
////                                ////
////--------------------------------////
////                  ////
////    Оглавление    ////
////                  ////
////------------------////

  1. Стили классической игры


////------------------------------////
////             ////
////    Стили    ////
////             ////
////-------------//*/

//----------------------------//
// 1. Стили классической игры //
/*------------------------------------//
Оглавление

  1.1. Переменные стилей классической игры
  1.2. Общие стили классической игры
  1.3. Стили шапки классической игры
  1.4. Стили интерфейса выбора комнаты в шапке игры
  1.5. Номер игры и банк
  1.6. Панель интерфейса игрового процесса

    1.6.1. Общие стили панели интерфейса игрового процесса
    1.6.2. Счётчики предметов и времени текущего раунда
    1.6.3. Органы управления игрой для игрока
    1.6.4. Бегущая полоса с аватарками
    1.6.5. Инфо-панель для состояний "Lottery" и "Winner"

  1.7. Распределение шансов на выигрыш в текущем раунде (цвета и полоски)
  1.8. Распределение шансов на выигрыш в текущем раунде (аватарки и текст)
  1.9. Ставки раунда
  1.10. Панель с информацией о текущем раунде
  1.11. Условия использования, предупреждение о не аффилированности с Valve
  1.12. Статистические данные
  1.13. Зона уведомлений
  1.14. История игр

//------------------------------------*/

  //------------------------------------------//
  // 1.1. Переменные стилей классической игры //
  //------------------------------------------//

    // 1] Переменные цветов

      // Общие
      $cg_main_color: #212f35;            // Главный цвет классической игры
      $cg_colog_highlight: #F59C1A;       // Цвет для выделения всяких вещей

      // Шапка
      $cg_color_header_bg: #1B2934;       // Цвет фона шапки классической игры
      $cg_color_roombrd: #269a95;         // Цвет рамки интерфейса выбора комнаты
      $cg_color_choosencolor: #269a95;    // Цвет выбранного пункта меню

      // Победный билет, победил игрок, число раунда
      $cg_color_winblock_base: #fff;
      $cg_color_winblock_ticket: #34B07D;
      $cg_color_winblock_winner: #E4D33A;
      $cg_color_winblock_number: #81D1F9;


    // 2] Переменные размеров

      // Общие
      //$cg_sizes_:

      // Шапка
      $cg_color_header_height: 50px;      // Высота шапки классической игры

      // Органы управления игрой для игрока
      $cg_sizes_controls_height: 120px;   // Высота панели органов управления

      // Распределение шансов на выигрыш в текущем раунде (цвета и полоски)
      $cg_sizes_godds_height: 6px;        // Высота блока графического распределения шансов

      // Распределение шансов на выигрыш в текущем раунде (аватарки и текст)
      $cg_sizes_odds_height: 100px;       // Высота блока распределения шансов

      // Панель с информацией о текущем раунде
      $cg_sizes_infopanel_height: 100px;  // Высота панели с информацией о текущем раунде

      // Статистические данные
      $cg_sizes_stats_width: 200px;      // Ширина панельки статистики
      $cg_sizes_stats_height: 265px;     // Высота панельки статистики


  //------------------------------------//
  // 1.2. Общие стили классической игры //
  //------------------------------------//

    // Внешний контейнер классической игры
    .content .classic-game {

    }

    // Внутренний контейнер классической игры
    .content .classic-game .cg-container {
      margin-top: 15px;
      border-radius: 6px;
      background: #284351;
    }

  //------------------------------------//
  // 1.3. Стили шапки классической игры //
  //------------------------------------//

    // Общие стили шапки классической игры
    .content .classic-game .cg-container .header {
      position: relative;
      background: #1B2934;
      height: $cg_color_header_height;
    }

    // Логотип классической игры, и её заголовок
    .content .classic-game .cg-container .header .logo_and_name {
      position: absolute; left: 0; top: 0;
      height: $cg_color_header_height;
      line-height: $cg_color_header_height;
      width: 33.333333333%;
      text-align: left;
      color: #fff;
      cursor: pointer;
      background: #1B2934;
      transition: all .5s ease;
    }
    .content .classic-game .cg-container .header .logo_and_name:hover {
      color: lighten($cg_color_choosencolor, 30%);
    }
    .content .classic-game .cg-container .header .logo_and_name.choosen {
      color: #59b0db;
    }
    .content .classic-game .cg-container .header .logo_and_name i {
      font-size: 2.5em;
      vertical-align: middle;
      padding: 0 10px;
    }
    .content .classic-game .cg-container .header .logo_and_name span {
      font-size: 1.5em;
      vertical-align: middle;
      font-weight: 600;
    }

    // Кнопка "История"
    .content .classic-game .cg-container .header .history-button {
      position: absolute; right: 0; top: 0;
      height: 50px;
      //width: 33.333333333%;
      line-height: 50px;
      font-size: 1.3em;
      padding: 0 16.66667px;
      text-align: right;
      cursor: pointer;
      color: #fff;
      background: #1B2934;
      transition: all .2s ease;
    }
    .content .classic-game .cg-container .header .history-button:hover {
      color: #59b0db;
    }
    .content .classic-game .cg-container .header .history-button.choosen {
      color: $cg_color_choosencolor;
    }

  //---------------------------------------------------//
  // 1.4. Стили интерфейса выбора комнаты в шапке игры //
  //---------------------------------------------------//

    // Общие стили
    .content .classic-game .cg-container .header .choose-room {
      position: absolute; top: 0;
      left: 0; right: 0;
      margin: 5.5px auto;
      width: 33.333333333%;
      overflow: hidden;
      //margin-top: $cg_color_header_height*0.15;
      //margin-bottom: $cg_color_header_height*0.15;
      line-height: 35px;
      text-align: center;
      border: 1px solid #f6e52d;
      border-radius: 4px;
      color: #fff;
      font-size: 1.5em;
      vertical-align: middle;
      cursor: pointer;
      background: #1b2934;
      z-index: 2;
      -o-transition-delay: 0.2s;
      -webkit-transition-delay: 0.2s;
      -moz-transition-delay: 0.2s;
      transition-delay: 0.2s;
      user-select: none;
      transition: all .2s ease-in-out;
    }
    .content .classic-game .cg-container .header .choose-room:hover {
      //background: darken($cg_main_color, 10%);
    }

    // Название выбранной комнаты
    .content .classic-game .cg-container .header .choose-room .choosen-name {
      height: $cg_color_header_height*0.7;
      line-height: 37px;
    }
    .content .classic-game .cg-container .header .choose-room i {
      position: absolute; top: 0; right: 0;
      width: $cg_color_header_height; height: $cg_color_header_height;
      height: $cg_color_header_height*0.7;
      line-height: $cg_color_header_height*0.7;
      text-align: center;
      display: inline-block;
      color: #aaa;
      transform: rotate(180deg);
      transition: all .2s ease-in-out;
    }
    .content .classic-game .cg-container .header .choose-room:hover i {
      transform: rotate(0deg);
    }

    // Список доступных комнат
    .content .classic-game .cg-container .header .choose-room .rooms-list {
      max-height: 0;
      transition: all .3s ease-in-out;
      text-align: left;
      font-size: .7em;
      padding-bottom: 2px;
    }
    .content .classic-game .cg-container .header .choose-room:hover .rooms-list {
      max-height: 300px;
      //padding-bottom: 5px;
    }
    .content .classic-game .cg-container .header .choose-room .rooms-list .room {
      position: relative;
      height: $cg_color_header_height;
      text-align: left;
      padding: 8px;
      padding-left: 15px;
      padding-right: 15px;
    }
    .content .classic-game .cg-container .header .choose-room .rooms-list .room:hover {
      background: darken($cg_main_color, 5%);
    }
    .content .classic-game .cg-container .header .choose-room .rooms-list .room .title {
      height: 20px;
      line-height: 20px;
      font-size: 1.4em;
      color: #F59C1A;
    }
    .content .classic-game .cg-container .header .choose-room .rooms-list .room .description {
      height: 14px;
      line-height: 14px;
      font-size: 0.9em;
    }


  //------------------------//
  // 1.5. Номер игры и банк //
  //------------------------//

    // Общие стили
    .content .classic-game .cg-container .gamenum_and_bank {
      height: 65px;
      line-height: 65px;
      //list-style: 80px;
      text-align: center;
      font-size: 2.1em;
      border-bottom: 2px solid #2F5463;
    }

    // Стили номера игры
    .content .classic-game .cg-container .gamenum_and_bank .gamenum {
      display: inline-block;
      padding: 0 20px;
      text-shadow: 0 2px 2px rgba(0, 0, 0, 0.26);
      font-weight: 600;
    }
    .content .classic-game .cg-container .gamenum_and_bank .gamenum span:nth-child(1) {}
    .content .classic-game .cg-container .gamenum_and_bank .gamenum span:nth-child(2) {
      color: $cg_colog_highlight;
    }

    // Стили банка
    .content .classic-game .cg-container .gamenum_and_bank .bank {
      display: inline-block;
      text-transform: uppercase;
      padding-left: 15px;
      text-shadow: 0 2px 2px rgba(0, 0, 0, 0.26);
      font-weight: 600;
    }
    .content .classic-game .cg-container .gamenum_and_bank .bank span:nth-child(1) {}
    .content .classic-game .cg-container .gamenum_and_bank .bank span:nth-child(2) {
      color: $cg_colog_highlight;
    }
    .content .classic-game .cg-container .gamenum_and_bank .bank span:nth-child(3) {
      font-size: 14px;
      color: #ccc;
      margin-left: -3px;
    }


  //------------------------------------------//
  // 1.6. Панель интерфейса игрового процесса //
  //------------------------------------------//

    //--------------------------------------------------------//
    // 1.6.1. Общие стили панели интерфейса игрового процесса //
    //--------------------------------------------------------//

      // Общие стили
      .content .classic-game .cg-container .gameprocess {
        position: relative;
        height: 240px;
        background: #284351;
      }
      .content .classic-game .cg-container .gameprocess.notauth {
        height: 200px;
      }

    //-----------------------------------------------------//
    // 1.6.2. Счётчики предметов и времени текущего раунда //
    //-----------------------------------------------------//

      // Общие стили
      .content .classic-game .cg-container .gameprocess .counters {
        height: 120px;
        //border-top: 2px solid lighten($cg_main_color, 5%);
        overflow: hidden;
        white-space: nowrap;
        transition: all .2s ease;
      }
      .content .classic-game .cg-container .gameprocess .counters>div {
        display: inline-block;
        vertical-align: middle;
        height: 50px;
        margin: 35px 50px;
      }

      // Состояние lottery
      .content .classic-game .cg-container .gameprocess .counters.lottery {
        opacity: 0;
        transform: translate3d(0,-20px,0); //translate3d(-260px,-40px,0) rotate(-5deg);
      }

      // Состояние winner
      .content .classic-game .cg-container .gameprocess .counters.winner {
        opacity: 0;
      }

      // Счётчик вещей раунда
      .content .classic-game .cg-container .gameprocess .counters .counter-items {
        position: relative;
        background: #1B2934;
        margin-right: 10px;
        border-radius: 4px;
        width: 470px;
      }
      .content .classic-game .cg-container .gameprocess .counters .counter-items .indicator {
        position: absolute; top: 0;
        width: 25%;
        height: 50px;
        //margin: 4px;
        border-radius: 0px 500px 700px 0px;
        transition: all 1s ease;
        border: 6.5px solid #1B2934;

        background: rgb(217,89,32); /* Old browsers */
        background: -moz-linear-gradient(left,  rgba(217,89,32,1) 0%, rgba(245,156,26,1) 50%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left,  rgba(217,89,32,1) 0%,rgba(245,156,26,1) 50%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right,  rgba(217,89,32,1) 0%,rgba(245,156,26,1) 50%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d95920', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
      }
      .content .classic-game .cg-container .gameprocess .counters .counter-items .indicator .knifes {
        position: absolute; top: 0; right: 0px;
        width: 101px;
        height: 86px;
        margin: -30px -60px 0 0;
      }
      .content .classic-game .cg-container .gameprocess .counters .counter-items .indicator .items-inbank-max {
        position: absolute; top: 5px; right: -43px;
        padding: 0 2px;
        color: #ffd38f;
        font-size: 1.8em;
        height: 28px;
        line-height: 28px;
        border-radius: 5px;
        background-color: rgba(0,0,0,.6);
      }

      // Текст между счётчиками
      .content .classic-game .cg-container .gameprocess .counters .text-between-counters {
        width: 100px;
        line-height: 50px;
        margin-left: 0; margin-right: 0;
        font-size: 1.1em;
        text-align: center;
      }

      // Счётчик времени раунда
      .content .classic-game .cg-container .gameprocess .counters .counter-time {
        width: 180px;
        margin-left: 10px;
        line-height: 50px;
        color: $cg_colog_highlight;
      }
      .content .classic-game .cg-container .gameprocess .counters .counter-time>div {
        display: inline-block;
        height: 50px;
        line-height: 50px;
        text-align: center;
        vertical-align: middle;
        font-size: 2.5em;
        font-weight: bold;
      }
      .content .classic-game .cg-container .gameprocess .counters .counter-time>div:nth-child(1) {
        width: 70px;
        background: #1B2934;
        border-radius: 4px;
      }
      .content .classic-game .cg-container .gameprocess .counters .counter-time>div:nth-child(2) {
        width: 20px;
        line-height: 45px;
        padding-right: 1px;
      }
      .content .classic-game .cg-container .gameprocess .counters .counter-time>div:nth-child(3) {
        width: 70px;
        background: #1B2934;
        border-radius: 4px;
      }


    //-------------------------------------------//
    // 1.6.3. Органы управления игрой для игрока //
    //-------------------------------------------//

      // Общие стили
      .content .classic-game .cg-container .gameprocess .controls {
        height: $cg_sizes_controls_height;
        background: #183440;
        overflow: hidden;
        white-space: nowrap;
        transition: all .2s ease;
      }
      .content .classic-game .cg-container .gameprocess .controls.notauth {
        height: 80px;
      }

      // Скрытое состояние
      .content .classic-game .cg-container .gameprocess .controls.hiddenpanel {
        opacity: 0;
        margin-top: 10px;
      }

      // Кол-во внесённых предметов, шанс, кнопка "Внести депозит"

        // Общие стили
        .content .classic-game .cg-container .gameprocess .controls .status_and_button {
          height: $cg_sizes_controls_height*.6;  // $cg_sizes_controls_height
        }
        .content .classic-game .cg-container .gameprocess .controls .status_and_button>div {
          display: inline-block;
          width: 33.33333%;
          height: $cg_sizes_controls_height*.6; // $cg_sizes_controls_height
          line-height: $cg_sizes_controls_height*.6; // $cg_sizes_controls_height
          vertical-align: middle;
        }

        // Количество внесённых предметов
        .content .classic-game .cg-container .gameprocess .controls .status_and_button .items_info {
          text-align: center;
          color: #81D1F9;
          font-size: 1.3em;
          margin-top: 5px;
        }

        // Шанс
        .content .classic-game .cg-container .gameprocess .controls .status_and_button .chance {
          position: relative;
          text-align: center;
          font-size: 1.3em;
          margin-top: 5px;
        }
        .content .classic-game .cg-container .gameprocess .controls .status_and_button .chance .arrows-left {
          position: absolute;
          top: $cg_sizes_controls_height*.3 - 10px; // $cg_sizes_controls_height*0.5 - 10px;
          left: 0;
          display: inline-block;
          width: 24px;
          height: 24px;
          background-image: url('/public/D10009/assets/icons/sprites.png');
          background-repeat: no-repeat;
          background-position: -93px -15px;
        }
        .content .classic-game .cg-container .gameprocess .controls .status_and_button .chance .arrows-right {
          position: absolute;
          top: $cg_sizes_controls_height*.3 - 10px; // $cg_sizes_controls_height*.5 - 10px;
          right: 0;
          display: inline-block;
          width: 24px;
          height: 24px;
          background-image: url('/public/D10009/assets/icons/sprites.png');
          background-repeat: no-repeat;
          background-position: -93px -15px;
        }

        // Кнопка "Внести депозит"
        .content .classic-game .cg-container .gameprocess .controls .status_and_button .make-a-bet {
          text-align: center;
          height: $cg_sizes_controls_height*.6;
          line-height: $cg_sizes_controls_height*.6;
          user-select: none;
        }
        .content .classic-game .cg-container .gameprocess .controls .status_and_button .make-a-bet .button {
          display: inline-block;
          height: 45px;
          line-height: 45px;
          vertical-align: middle;
          padding: 0 36px;
          font-size: 1.2em;
          background: #c9302c;
          color: #fff;
          cursor: pointer;
          border-radius: 3px;
          transition: all .5s ease;
        }
        .content .classic-game .cg-container .gameprocess .controls .status_and_button .make-a-bet .button:hover {
          background: #e33733;
        }
        .content .classic-game .cg-container .gameprocess .controls .status_and_button .make-a-bet .button span {
          vertical-align: baseline;
        }

      // Панель с кнопкой "Принять участие" для не аутентифицированных пользователей

        // Общие стили
        .content .classic-game .cg-container .gameprocess .controls .not_auth_user_panel {
          height: 80px;  // $cg_sizes_controls_height
          position: absolute;
          z-index: 1;
        }
        .content .classic-game .cg-container .gameprocess .controls .not_auth_user_panel>div {
          display: inline-block;
          height: 80px; // $cg_sizes_controls_height
          line-height: 80px; // $cg_sizes_controls_height
          vertical-align: middle;
        }

        // Замечание про дорогие предметы
        .content .classic-game .cg-container .gameprocess .controls .not_auth_user_panel .expensive_items {
          width: 35%;
          text-align: justify;
          color: #81d1f9;
          font-size: 1.0em;
          white-space: normal;
          padding: 0 30px 0 20px;
        }
        .content .classic-game .cg-container .gameprocess .controls .not_auth_user_panel .expensive_items>div {
          display: inline-block;
          line-height: normal;
          vertical-align: middle;
        }

        // Информация об ограничениях комнаты
        .content .classic-game .cg-container .gameprocess .controls .not_auth_user_panel .roominfo {
          width: 35%;
          position: relative;
          text-align: left;
          color: #81d1f9;
          font-size: 1.0em;
          white-space: normal;
          padding: 0 20px 0 20px;
        }
        .content .classic-game .cg-container .gameprocess .controls .not_auth_user_panel .roominfo>div {
          display: inline-block;
          line-height: normal;
          vertical-align: middle;
        }
        .content .classic-game .cg-container .gameprocess .controls .not_auth_user_panel .roominfo .arrows-left {
          position: absolute;
          top: 50%;
          margin-top: -12px;
          left: -20px;
          display: inline-block;
          width: 24px;
          height: 24px;
          background-image: url('/public/D10009/assets/icons/sprites.png');
          background-repeat: no-repeat;
          background-position: -93px -15px;
        }
        .content .classic-game .cg-container .gameprocess .controls .not_auth_user_panel .roominfo .arrows-right {
          position: absolute;
          top: 50%;
          margin-top: -12px;
          right: -16px;
          display: inline-block;
          width: 24px;
          height: 24px;
          background-image: url('/public/D10009/assets/icons/sprites.png');
          background-repeat: no-repeat;
          background-position: -93px -15px;
        }

        // Кнопка "Войти через Steam"
        .content .classic-game .cg-container .gameprocess .controls .not_auth_user_panel .make-a-bet {
          width: 30%;
          text-align: center;
          height: 80px;
          line-height: 78px;
          user-select: none;
        }
        .content .classic-game .cg-container .gameprocess .controls .not_auth_user_panel .make-a-bet .button {
          display: inline-block;
          height: 45px;
          line-height: 45px;
          vertical-align: middle;
          padding: 0 18px;
          font-size: 1.2em;
          background: #c9302c;
          color: #fff;
          cursor: pointer;
          border-radius: 3px;
          transition: all .5s ease;
        }
        .content .classic-game .cg-container .gameprocess .controls .not_auth_user_panel .make-a-bet .button:hover {
          background: #e33733;
        }
        .content .classic-game .cg-container .gameprocess .controls .not_auth_user_panel .make-a-bet .button span {
          vertical-align: baseline;
        }

      // Панель с информацией о лимитах выбранной комнаты
      .content .classic-game .cg-container .gameprocess .controls .info {
        height: $cg_sizes_controls_height*.4;
      }
      .content .classic-game .cg-container .gameprocess .controls .info .limits {
        height: 29px;
        line-height: 26px;
        margin: 6px 40px;
        font-size: 0.95em;
        text-align: center;
        border-top: 1px solid #2f5463;
        padding-top: 5px;
        text-transform: uppercase;
      }

    //------------------------------------//
    // 1.6.4. Бегущая полоса с аватарками //
    //------------------------------------//

      // Общие стили
      .content .classic-game .cg-container .gameprocess .strip-avatars {
        position: absolute; top: 10px; left: 0;
        height: 80px; width: 100%;
        overflow: hidden;
        transition: all .2s ease;
      }

      // Скрытое состояние
      .content .classic-game .cg-container .gameprocess .strip-avatars.hiddenpanel {
        top: -80px;
        opacity: 0;
      }

      // Опущенное состояние
      .content .classic-game .cg-container .gameprocess .strip-avatars.downpanel {
        top: 10px;
      }

      // Непосредственно контейнер (кот.движется) для полоски аватарок
      .content .classic-game .cg-container .gameprocess .strip-avatars .moving_cont {
        height: 80px;
        font-size: 0;
        //transition: 15000ms cubic-bezier(0.32, 0.64, 0.45, 1) -0ms;
        //transform: translate3d(880px, 0px, 0px);
      }

      // Аватарка в контейнере
      .content .classic-game .cg-container .gameprocess .strip-avatars .moving_cont img {
        width: 80px;
        height: 80px;
        margin-right: 2px;
      }

    //--------------------------------------------------------//
    // 1.6.5. Инфо-панель для состояний "Lottery" и "Winner"  //
    //--------------------------------------------------------//

      // Общие стили
      .content .classic-game .cg-container .gameprocess .lw-panel {
        position: absolute; bottom: 0; left: 0;
        height: 140px; width: 100%;
        border-top: 1px solid $cg_colog_highlight;
      }

      // Скрытое состояние
      .content .classic-game .cg-container .gameprocess .lw-panel.hiddenpanel {
        bottom: -80px;
        opacity: 0;
      }

      // Стрелочка, указывающая на победителя
      .content .classic-game .cg-container .gameprocess .lw-panel .arrow {
        position: absolute; top: -8px; left: calc(50% - 7.5px);
      }

      // Победный билет, победил игрок, число раунда
      .content .classic-game .cg-container .gameprocess .lw-panel .textinfo {
        position: absolute; top: 10px; left: 20px;
        font-size: 1.2em;
        color: $cg_color_winblock_base;
      }
      .content .classic-game .cg-container .gameprocess .lw-panel .textinfo .ticket span:nth-child(2) {
        color: #34b07d;
        font-weight: 700;
        margin-left: 5px;
      }
      .content .classic-game .cg-container .gameprocess .lw-panel .textinfo .winner span:nth-child(2) {
        color: #e4d33a;
        font-weight: 700;
        margin-left: 5px;
      }
      .content .classic-game .cg-container .gameprocess .lw-panel .textinfo .number span:nth-child(2) {
        color: #81d1f9;
        font-weight: 700;
        font-size: 12px;
        margin-left: 5px;
      }

      // Текущий банк игры
      .content .classic-game .cg-container .gameprocess .lw-panel .bank {
        position: absolute; top: 78px; left: 20px;
        background: #000;
        font-size: 2em;
        color: #fff;
        border-radius: 3px;
        padding: 0 17px;
        margin-top: 5px;
      }

      // Счётчик времени до начала следующего раунда

        // Общие стили
        .content .classic-game .cg-container .gameprocess .lw-panel .counter-time {
          position: absolute;
          right: 20px;
          text-align: center;
          height: 72px;
          line-height: 72px;
          user-select: none;
        }

        // Стили описания счётчика
        .content .classic-game .cg-container .gameprocess .lw-panel .counter-time .counterdesc {
          display: inline-block;
          width: 180px;
          text-align: right;
          padding-right: 15px;
          line-height: 50px;
          font-size: 1.2em;
          color: $cg_color_winblock_base;
        }

        // Стили самого счётчика
        .content .classic-game .cg-container .gameprocess .lw-panel .counter {
          display: inline-block;
          width: 80px;
          line-height: 50px;
          color: $cg_colog_highlight;
        }
        .content .classic-game .cg-container .gameprocess .lw-panel .counter>div {
          display: inline-block;
          height: 50px;
          line-height: 50px;
          text-align: center;
          vertical-align: middle;
          font-size: 2.5em;
          font-weight: bold;
        }
        .content .classic-game .cg-container .gameprocess .lw-panel .counter>div:nth-child(1) {
          width: 70px;
          background: #1b2934;
          border-radius: 4px;
        }
        .content .classic-game .cg-container .gameprocess .lw-panel .counter>div:nth-child(2) {
          width: 20px;
          line-height: 45px;
          padding-right: 1px;
        }
        .content .classic-game .cg-container .gameprocess .lw-panel .counter>div:nth-child(3) {
          width: 70px;
          background: #1b2934;
          border-radius: 4px;
        }

      // Кнопка "Внести депозит первым"
      .content .classic-game .cg-container .gameprocess .lw-panel .make-a-bet-first {
        position: absolute;
        right: 25px;
        top: 64px;
        text-align: center;
        height: $cg_sizes_controls_height*.6;
        line-height: $cg_sizes_controls_height*.6;
        user-select: none;
      }
      .content .classic-game .cg-container .gameprocess .lw-panel .make-a-bet-first .button {
        display: inline-block;
        height: 45px;
        line-height: 45px;
        vertical-align: middle;
        padding: 0 29px;
        font-size: 1.2em;
        background: #c9302c;
        color: #fff;
        cursor: pointer;
        -webkit-transition: all .5s ease;
        transition: all .5s ease;
        border-radius: 3px;
        margin-bottom: 10px;
      }
      .content .classic-game .cg-container .gameprocess .lw-panel .make-a-bet-first .button:hover {
        background: rgba(252, 131, 86, 0.5)
      }
      .content .classic-game .cg-container .gameprocess .lw-panel .make-a-bet-first .button span {
        vertical-align: baseline;
      }



  //-------------------------------------------------------------------------//
  // 1.7. Распределение шансов на выигрыш в текущем раунде (цвета и полоски) //
  //-------------------------------------------------------------------------//

    // Общие стили
    .content .classic-game .cg-container .odds-graphic {
      height: $cg_sizes_godds_height;
      line-height: 0;
      overflow: hidden;
      white-space: nowrap;
      background: #aaa;
      font-size: 0;
    }

    // Стили одной полоски
    .content .classic-game .cg-container .odds-graphic .strip {
      display: inline-block;
      height: $cg_sizes_godds_height;
    }

  //--------------------------------------------------------------------------//
  // 1.8. Распределение шансов на выигрыш в текущем раунде (аватарки и текст) //
  //--------------------------------------------------------------------------//

    // Общие стили
    .content .classic-game .cg-container .odds-avatars {
      position: relative;
      height: $cg_sizes_odds_height;
      overflow: hidden;
      white-space: nowrap;
      text-align: center;
    }

    // Стили одного блока (аватарка, цвет, шансы)
    .content .classic-game .cg-container .ava-color-odds {
      position: relative;
      display: inline-block;
      width: 80px; height: 80px;
      margin: 10px 3px;
    }
    .content .classic-game .cg-container .ava-color-odds>div {
      position: absolute;
    }

    // Аватар
    .content .classic-game .cg-container .ava-color-odds .avatar {
      top: 0; left: 0;
      width: 100%; height: 100%;
    }
    .content .classic-game .cg-container .ava-color-odds .avatar img {
      max-width: 100%;
      max-height: 100%;
    }

    // Цветная полоска
    .content .classic-game .cg-container .ava-color-odds .strip {
      bottom: 0; left: 0;
      width: 100%;
      height: 4px;
    }

    // Шансы
    .content .classic-game .cg-container .ava-color-odds .odds {
      bottom: 4px; left: 0;
      background: black; opacity: 0.8;
      line-height: 22px;
      width: 100%; height: 22px;
      text-align: center;
      color: #2cb8d6;
      font-weight: bold;
      font-size: 18px;
    }

    // Стили для perfect scrollbar
    .content .classic-game .cg-container .ps-scrollbar-y-rail {
      display: none;
    }
    .content .classic-game .cg-container .ps-scrollbar-x-rail {
      background: transparent !important;
    }
    .content .classic-game .cg-container .ps-scrollbar-x-rail>div {
      background: darken($cg_main_color, 5%) !important;
      height: 6px !important;
    }

  //---------------------//
  // 1.9. Ставки раунда  //
  //---------------------//

    // Контейнер
    .content .classic-game .bets {
      padding: 0;
      background: #183440;
    }

    // Контейнер ставки
    .content .classic-game .bets .bet-container {
      //border-radius: 0 3px 3px 0;
      border-radius: 3px;
      max-height: 0;
      transition: all .7s ease;
      overflow: hidden;
    }
    .content .classic-game .bets .bet-container.expanded {
      max-height: 1000px;
    }

    // Стили информации о ставке
    .content .classic-game .bets .bet-container .bet-info {
      padding: 10px 20px;
      position: relative;
      height: 74px;
      background: darken($cg_main_color, 5%);
      border-right: 2px solid #000;
    }
    .content .classic-game .bets .bet-container .bet-info .avatar {
      position: absolute; top: 10px; left: 20px;
      width: 54px;
      height: 54px;
      text-align: center;
      background-color: #2f353b;
    }
    .content .classic-game .bets .bet-container .bet-info .avatar img {
      display: inline-block;
      width: 54px;
      height: 54px;
      max-width: 54px;
      max-height: 54px;
    }
    .content .classic-game .bets .bet-container .bet-info .info-section {
      padding-left: 65px;
      color: #ddd;
    }
    .content .classic-game .bets .bet-container .bet-info .info-section .nickname {
      color: #ddd;
      cursor: default;
      transition: all 0.5s ease;
      text-decoration: none;
    }
    //.content .classic-game .bets .bet-container .bet-info .info-section .nickname:hover {
    //  color: #64C119;
    //}
    .content .classic-game .bets .bet-container .bet-info .info-section .bet-number {
      cursor: default;
      float: right;
    }
    .content .classic-game .bets .bet-container .bet-info .info-section>div:nth-child(1) {
      height: 27px;
      line-height: 27px;
      font-size: 18px;
      //font-family: EffraBold, Effra, "PT Sans", Sans-Serif;
    }
    .content .classic-game .bets .bet-container .bet-info .info-section>div:nth-child(1)>span:nth-child(1) {
      //font-family: EffraBold, Effra, "PT Sans", Sans-Serif;
      padding-right: 3px;
    }
    .content .classic-game .bets .bet-container .bet-info .info-section .sum-odds-tickets {
      height: 27px;
      line-height: 27px;
      font-size: 16px;
    }
    .content .classic-game .bets .bet-container .bet-info .info-section .sum-odds-tickets span {
      opacity: .5;
      color: #ddd;
      transition: all 0.5s ease;
      cursor: default;
    }
    .content .classic-game .bets .bet-container .bet-info .info-section .tickets {
      float: right;
      font-size: 16px;
      margin-top: 14px;
    }
    .content .classic-game .bets .bet-container .bet-info .info-section .tickets .ticketnumber {
      color: $cg_colog_highlight;
    }

    // Поставленные вещи
    .content .classic-game .bets .bet-container .bets-items-cont {
      padding: 0 0 15px 20px;
    }
    .content .classic-game .bets .bet-container .bets-items-cont .bets-item {
      position: relative;
      display: inline-block;
      width: 100px;
      height: 100px;
      margin-top: 15px;
      text-align: center;
      line-height: 100px;
      cursor: help;
      background: #1e404f;
      border: 1px solid #182328;
    }
    .content .classic-game .bets .bet-container .bets-items-cont .bets-item img {
      display: inline-block;
      max-width: 85px;
      max-height: 85px;
      margin-bottom: 25px;
      vertical-align: middle;
      margin-top: -7px;
    }
    .content .classic-game .bets .bet-container .bets-items-cont .bets-item .price {
      position: absolute; bottom: 0; left: 0;
      width: 100%; height: 25px;
      line-height: 25px;
      font-size: 1.1em;
      color: #28adcb;
      opacity: .8;
      cursor: text;
      text-align: center;
      background: #1A262E;
    }
    .content .classic-game .bets .bet-container .bets-items-cont .bets-item .price .rub {
      text-transform: uppercase;
      font-size: .7em;
    }
    .content .classic-game .bets .bet-container .bets-items-cont .bets-item .strip {
      position: absolute; top: 0; left: 0;
      height: 2px; width: 100%;
      background: transparent;
    }




//    .content .classic-game .bets .bet-container .bets-items-cont>div {
//      display: inline-block;
//      width: 100px;
//      height: 100px;
//      margin-right: 17px;
//      margin-top: 15px;
//    }
//    .content .classic-game .bets .bet-container .bets-items-cont>div:nth-child(5n) {
//      margin-right: 0;
//    }
//    .content .classic-game .bets .bet-container .bets-items-cont>div .flip-front {
//      width: 100px;
//      height: 100px;
//      border: solid 1px #32393f;
//      border-radius: 2px;
//      background-color: #2d3238;
//      text-align: center;
//      line-height: 100px;
//    }
//    .content .classic-game .bets .bet-container .bets-items-cont>div .flip-front img {
//      display: inline-block;
//      max-width: 80px;
//      max-height: 80px;
//    }
//    .content .classic-game .bets .bet-container .bets-items-cont>div .flip-front .price {
//      display: block;
//      font-size: 13px;
//      position: absolute; top: 0; left: 0;
//      color: #cfcfcf;
//      height: 20px;
//      border-radius: 2px;
//      background-color: #242424;
//      line-height: 20px;
//      padding: 0 5px;
//    }
//    .content .classic-game .bets .bet-container .bets-items-cont>div .flip-back {
//      width: 100px;
//      height: 100px;
//      border: solid 1px #32393f;
//      border-radius: 2px;
//      background-color: #2d3238;
//      padding: 5px;
//      font-size: 13px;
//    }
//    .content .classic-game .bets .bet-container .bets-items-cont>div .flip-back:before {
//      content: '';
//      display: inline-block;
//      height: 90px;
//      vertical-align: middle;
//      width: 1px;
//    }
//    .content .classic-game .bets .bet-container .bets-items-cont>div .flip-back .name-of-item {
//      display: inline-block;
//      vertical-align: middle;
//      height: auto;
//      width: 90%;
//      color: #fff;
//      border-bottom: 1px solid #373c43;
//      overflow: hidden;
//      text-overflow: ellipsis;
//    }




  //---------------------------------------------//
  // 1.10. Панель с информацией о текущем раунде //
  //---------------------------------------------//

    // Общие стили
    .content .classic-game .cg-container .infopanel {
      position: relative;
      height: $cg_sizes_infopanel_height;
      overflow: hidden;
      padding: 20px;
      white-space: nowrap;
      background: url('/public/D10009/assets/images/start.png') no-repeat 50px 23px rgba(38, 192, 113, 0.7);
    }
    .content .classic-game .cg-container .infopanel>div {
      position: absolute;
    }

    // Призыв вносить депозиты
    .content .classic-game .cg-container .infopanel .call4deposits {
      top: 20; left: 0;
      height: 30px; line-height: 30px;
      width: 100%;
      text-align: center;
      font-size: 25px;
      font-weight: bold;
      color: #fff;
      text-shadow: 1px 1px 1px rgb(44, 110, 47);
    }

    // Кнопка "честная игра" и хэш раунда

      // Общие стили
      .content .classic-game .cg-container .infopanel .fair-button-and-hash {
        top: 50px; left: 0;
        height: 30px; line-height: 30px;
        width: 100%;
        text-align: center;
      }
      .content .classic-game .cg-container .infopanel .fair-button-and-hash>div {
        display: inline-block;
      }

      // Кнопка "Честная игра"
      .content .classic-game .cg-container .infopanel .fair-button-and-hash .fair-button {
        background: rgba(45, 78, 67, 0.3);
        position: relative;
        height: 30px;
        padding: 0px 15px 0 32px;
        margin-right: 20px;
        border-radius: 6px;
        border: solid 1px #31A26D;
        font-size: 11px;
        font-weight: 400;
        color: #cefeea;
        text-shadow: 0 2px 1px rgba(25, 67, 49, 0.26);
        cursor: pointer;
        user-select: none;
      }
      .content .classic-game .cg-container .infopanel .fair-button-and-hash .fair-button i {
        position: absolute; left: 0; top: 0;
        height: 30px;
        width: 30px;
        background: url('/public/D10009/assets/icons/sprites.png') no-repeat -223px -74px;
      }

      // Хэш раунда
      .content .classic-game .cg-container .infopanel .fair-button-and-hash .hash {
        color: #000;
      }
      .content .classic-game .cg-container .infopanel .fair-button-and-hash .hash span:nth-child(2) {
        border-bottom: 1px solid #222;
      }

  //---------------------------------------------------------------------------//
  // 1.11. Условия использования, предупреждение о не аффилированности с Valve //
  //---------------------------------------------------------------------------//

    // Общие стили
    .content .classic-game .termsofuse {
      text-align: center;
      margin: 10px 0;
      font-size: 1.1em;
    }

    // Заявление о не аффилированности
    .content .classic-game .termsofuse .not-affilated-statement {
      color: #9ea7b3;
    }

    // Правила использования
    .content .classic-game .termsofuse .termslink a {
      color: #1e96b0;
      text-decoration: underline;
      cursor: pointer;
    }

  //-----------------------------//
  // 1.12. Статистические данные //
  //-----------------------------//

    // Общие стили
    .content .classic-game .statistics {
      position: relative;
      margin-top: 50px;
      margin-bottom: 50px;
      text-align: center;
    }
    .content .classic-game .statistics>div {
      position: relative;
      display: inline-block;
      width: $cg_sizes_stats_width; height: $cg_sizes_stats_height;
      margin-right: 20px;
      background: #172125;
      color: #ddd;
      vertical-align: middle;
    }

    // Стили для ширины окна бравзера более 1400px
    @media screen and (min-width: 1680px) {
      .content .classic-game .statistics {
        position: absolute;
        top: 0;
        left: -230px;
        width: 200px;
        margin-top: 20px;
      }
      .content .classic-game .statistics>div {
        margin-bottom: 30px;
      }
      .content-column {
        margin-left: 230px;
        position: relative;
      }
    }

    // Заголовочная часть
    .content .classic-game .statistics>div .header {
      position: absolute; top: 0; left: 0;
      width: 100%; height: $cg_sizes_stats_height/6;
      line-height: $cg_sizes_stats_height/6;
      //font-weight: bold;
      font-size: 1.15em;
      z-index: 1;
    }

    // Контентная часть
    .content .classic-game .statistics>div .contentpart {
      position: relative;
      height: 198.75px;
      padding-top: 44.16667px;
      background: #284351;
      text-align: center;
    }
    .content .classic-game .statistics>div .contentpart img {
      display: inline-block;
      margin-top: 12.92857px;
      width: 80px;
      height: 80px;
    }
    .content .classic-game .statistics>div .contentpart .nickname {
      position: absolute;
      bottom: 0; left: 0; width: 100%;
      text-align: center;
      height: 60.66667px;
      line-height: 64.66667px;
      font-weight: 700;
      font-size: 1.15em;
      overflow: hidden;
      white-space: nowrap;
    }

    // Подвальная часть
    .content .classic-game .statistics>div .footer {
      position: absolute;
      bottom: 0;
      left: 0;
      padding-top: 10px;
      width: 100%;
      height: 73px;
      background: #19242C;
    }

    // Последний победитель
    .content .classic-game .statistics .lastwinner {

    }
    .content .classic-game .statistics .lastwinner .footer>div {
      height: $cg_sizes_stats_height*0.1;
      line-height: $cg_sizes_stats_height*0.1;
      text-align: left;
    }
    .content .classic-game .statistics .lastwinner .footer .row {
      margin: 0;
    }
    .content .classic-game .statistics .lastwinner .footer .row>div {
      overflow: hidden;
    }
    .content .classic-game .statistics .lastwinner .footer .row>div:nth-child(1) {
      padding-left: 15px;
      color: #ccc;
    }
    .content .classic-game .statistics .lastwinner .footer .row>div:nth-child(2) {
      padding-right: 15px;
      font-weight: bold;
      font-size: 1.1em;
    }
    .content .classic-game .statistics .lastwinner .footer .odds {
      color: $cg_colog_highlight !important;
    }


    // Счастливчик дня
    .content .classic-game .statistics .luckyoftheday {

    }
    .content .classic-game .statistics .luckyoftheday .contentpart {
      background: url('/public/D10009/assets/images/lucky-bg-v1.png') no-repeat -19px 0px
    }
    .content .classic-game .statistics .luckyoftheday .footer>div {
      height: $cg_sizes_stats_height*0.1;
      line-height: $cg_sizes_stats_height*0.1;
      text-align: left;
    }
    .content .classic-game .statistics .luckyoftheday .footer .row {
      margin: 0;
    }
    .content .classic-game .statistics .luckyoftheday .footer .row>div {
      overflow: hidden;
    }
    .content .classic-game .statistics .luckyoftheday .footer .row>div:nth-child(1) {
      padding-left: 15px;
      color: #ccc;
    }
    .content .classic-game .statistics .luckyoftheday .footer .row>div:nth-child(2) {
      padding-right: 15px;
      font-weight: bold;
      font-size: 1.1em;
    }
    .content .classic-game .statistics .luckyoftheday .footer .odds {
      color: $cg_colog_highlight !important;
    }

    // Наибольшая ставка
    .content .classic-game .statistics .thebiggetsbet {

    }
    .content .classic-game .statistics .thebiggetsbet .contentpart {
      //background: url('/public/D10009/assets/images/dollars-bg-v1.jpg');
    }
    .content .classic-game .statistics .thebiggetsbet .footer>div {
      height: $cg_sizes_stats_height*0.1;
      line-height: $cg_sizes_stats_height*0.1;
      text-align: left;
    }
    .content .classic-game .statistics .thebiggetsbet .footer .row {
      margin: 0;
      margin-top: $cg_sizes_stats_height*0.05;
    }
    .content .classic-game .statistics .thebiggetsbet .footer .row>div {
      overflow: hidden;
    }
    .content .classic-game .statistics .thebiggetsbet .footer .row>div:nth-child(1) {
      padding-left: 15px;
      color: #ccc;
    }
    .content .classic-game .statistics .thebiggetsbet .footer .row>div:nth-child(2) {
      padding-right: 15px;
      font-weight: bold;
      font-size: 1.1em;
    }

  //------------------------//
  // 1.13. Зона уведомлений //
  //------------------------//

    //--------------------------------------//
    // 1.13.1. Общие стили зоны уведомлений //
    //--------------------------------------//

      // Общие стили
      .content .notifications-zone {
        position: relative;
        background: #333;
        margin-bottom: 20px;
      }

    //----------------------------------------------//
    // 1.13.2. Общие стили любой панели уведомления //
    //----------------------------------------------//
    .content .notifications-zone .notification {
      width: 100%;
      margin-top: 20px;
      min-height: 20px;
      background-color: #1b2934;
    }

    //-------------------------------------------------------------------//
    // 1.13.3. Стили панели уведомлений об отсутствующей Steam Trade URL //
    //-------------------------------------------------------------------//

      // Общие стили
      .content .notifications-zone .notification.tradeurl {
        height: 120px;
        font-size: 1.15em;
        color: #fff;
      }

      // Строка №1: заголовок
      .content .notifications-zone .notification.tradeurl .head {
        height: 40px;
        line-height: 40px;
        margin: 0 20px;
        font-weight: 700;
      }

      // Строка №2: инпут и кнопка
      .content .notifications-zone .notification.tradeurl .input_and_button {
        height: 40px;
        line-height: 40px;
        margin: 0 20px;
        overflow: hidden;
        white-space: nowrap;
      }
      .content .notifications-zone .notification.tradeurl .input_and_button input {
        display: inline-block;
        height: 40px;
        line-height: 40px;
        background: #284351;
        border-radius: 4px;
        width: 80%;
        overflow: hidden;
        outline: 0;
        border: 0;
        padding: 0 15px;
      }
      .content .notifications-zone .notification.tradeurl .input_and_button button {
        position: relative;
        display: inline-block;
        width: 17%;
        background: #59b0db;
        margin-left: 20px;
        border-radius: 4px;
        height: 40px;
        line-height: 40px;
        border: 0;
        outline: 0;
        transition: all .5s ease;
      }
      .content .notifications-zone .notification.tradeurl .input_and_button button:hover {
        background: lighten(#59b0db, 5%);
      }

      // Строка №3: подсказка
      .content .notifications-zone .notification.tradeurl .hint {
        height: 40px;
        line-height: 40px;
        margin: 0 20px;
      }
      .content .notifications-zone .notification.tradeurl .hint a {
        cursor: pointer;
        text-decoration: underline;
        color: #59b0db;
        transition: all .5s ease;
      }
      .content .notifications-zone .notification.tradeurl .hint a:hover {
        color: lighten(#59b0db, 5%);
      }

  //--------------------//
  // 1.14. История игр  //
  //--------------------//

    //---------------------------------//
    // 1.14.1. Общие стили истории игр //
    //---------------------------------//
    .content .classic-game .cg-container .cg_history {
      min-height: 250px;
    }

    //------------------------------------//
    // 1.14.2. Стили контента истории игр //
    //------------------------------------//

      // Общие стили
      .content .classic-game .cg-container .cg_history .history {}
      .content .classic-game .cg-container .cg_history .history .history-item {
        padding: 10px;
        background: #203440;
        margin-top: 10px;
        min-height: 130px;
      }

      // Стили заголовочной части

        // Общие
        .content .classic-game .cg-container .cg_history .history .header-part {
          position: relative;
          height: 65px;
          background: #444;
        }
        .content .classic-game .cg-container .cg_history .history .header-part .avatar {
          max-width: 65px;
          max-height: 65px;
        }

        // Ник, шанс, выигрыш
        .content .classic-game .cg-container .cg_history .history .header-part .nick_odds_jackpot {
          position: absolute;
          left: 70px;
          top: 0;
          width: calc(50% - 70px);
          height: 65px;
          background: #555;
        }
        .content .classic-game .cg-container .cg_history .history .header-part .nick_odds_jackpot .nick {
          height: 40%;
          font-size: 1.2em;
          overflow: hidden;
        }
        .content .classic-game .cg-container .cg_history .history .header-part .nick_odds_jackpot .odds {
          height: 30%;
        }
        .content .classic-game .cg-container .cg_history .history .header-part .nick_odds_jackpot .jackpot {
          height: 30%;
        }

        // Игра, хэш, число раунда
        .content .classic-game .cg-container .cg_history .history .header-part .game_hash {
          position: absolute;
          right: 0;
          top: 0;
          width: 50%;
          height: 65px;
          background: #667;
        }

      // Стили списка выигранных вещей
      .content .classic-game .cg-container .cg_history .history .items {

      }

    //----------------------------------------//
    // 1.14.3. Стили кнопки "Показать ещё 10" //
    //----------------------------------------//
    .content .classic-game .cg-container .cg_history .button_more {
      height: 100px;
      line-height: 100px;
      text-align: center;
    }
    .content .classic-game .cg-container .cg_history .button_more .button_more_itself {
      display: inline-block;
      width: 300px;
    }
    .content .classic-game .cg-container .cg_history .button_more .button_more_itself button {
      border-radius: 4px;
      font-size: 1.2em;
      font-weight: bold;
      background: #2a3d4b;
      color: #9ea7b3;
      border: 1px solid #5a5e64;
      outline: 0 !important;
      transition: background .5s ease;
    }
    .content .classic-game .cg-container .cg_history .button_more .button_more_itself button:hover {
      background: lighten(#2a3d4b, 3%);
    }

    //------------------------------------------------------//
    // 1.14.4. Стили надписи о том, что история отсутствует //
    //------------------------------------------------------//
    .content .classic-game .cg-container .cg_history .history_absent {
      height: 250px;
      line-height: 250px;
      text-align: center;
      font-size: 2em;
    }

